/* COLOR DE LA BOX EN DONDE BUSCAS RECETAS */
.searchbar input {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-size: 16px;
    background-color: transparent;
    color: rgba(255, 228, 196, 0.8);
    margin-top: 11%;
}

/* COLOR DEL BOTON SEARCH */
.searchbar button {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    cursor: pointer;
    transition: .2s;
    border: none;
    background-color: transparent;
    color: #000;
    font-size: 25px;
    margin-top: 11%;
}

/* COLOR CUANDO PASAS EL CURSOR SOBRE EL BOTON SEARCH */
.searchbar button:hover {
    transform: translate(0, .5px);
    border: none;
    background-color: #ffc400;
    color: #000;
    font-size: 20px;
}